.left{
    width: 50%;
    height: 800px;
}
.billing{
    width: 70%;
    margin: auto;
    height: 450px;
    margin-top: 10px;
    color: rgb(50,62,72);
    font-family: Montserrat-Bold, Arial;
}
.field{
    margin: 15px 0px;
}
.field input{
    width: 80%;
    height: 25px;
}
.field textarea{
    width: 80%;
    height: 80px;
}
.payment{
    width: 70%;
    margin: auto;
    height: 450px;
    margin-top: 40px;
    color: rgb(50,62,72);
    font-family: Montserrat-Bold, Arial;
}
.payment button{
    padding: 10px 20px;
}